@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: default;
}

*:focus {
	outline: 1px solid lightblue;
}

body {
	min-width: 350px;
	background-image: linear-gradient(30deg, rgb(207, 76, 76), rgb(0, 0, 0));
	color: rgb(255, 255, 255);
	padding: 2em;
	font-family: 'Montserrat', sans-serif;
}

.header img {
	float: none;
	width: 50px;
	height: 50px;
  }
  
.header h1 {
	font-weight:bolder;
	letter-spacing: 0.1em;
	padding-bottom: 0em;
	margin-bottom: 1em;
	
	text-align:center;
	margin-top: -1.8em;
}


.search {
	width: 200%;
	position: relative;
	display: flex;
	
  }
  
  .searchTerm {
	width: 100%;
	border: 3px solid #ff7979;
	border-right: none;
	padding: 5px;
	height: 30px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #ffb2ac;
	
  }
  
  .searchTerm:focus{
	color: #ff1f01;
  }
  
  .searchButton {
	width: 40px;
	height: 30px;
	border: 1px solid #ff7979;
	background: #f08a79;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
	width: 38%;
	position: absolute;
	top: 43%;
	left: 30%;
	transform: translate(-50%, -50%);
  }



